body {
    background-image:url(images/sun.jpg) ;
    background-position: top center;
    background-size: 300% auto;
    background-repeat: repeat;
    background-color: rgb(255, 0, 85);
  }

  h1{
    color:#000000;
    text-align: center;
    
    font-family: 'Fantasy', Papyrus;
    
    font-size: 60px;
    background: rgba(235, 162, 175, 0);
    padding: 2px;
    border-radius: 11px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    }
  h2{
    color:#180102;
    text-align: center;
    }

    h3{
      color:#180102;
      text-align: left;
      }

  table{
      background-color: #e5070725;
      border-radius: 5px;
      border: 2px  #ffffff0c;
      margin-left: auto;
      margin-right: auto;
      padding: 3px;
      user-select: none;
        } 
        table:hover{
          background-color: #ff000051;
      }
  
      p{
        color:#000000;
        text-align: center;
        }

        th,td{
          color:#ffffff;
          text-align: center;
          padding: 2px;
          font-weight: bolder;
      }
      p{
        padding-left: 7%;
        padding-right: 7%;
        color: #000000;
        font-weight: bold;
        max-width: 90vw;
    }
    a{
      color: #00fbff;
      text-decoration: none;
      font-weight: bold;
      width: 100%;
  }
  a{
    color: #050303;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

a:hover{
    color:rgb(0, 0, 0);
}

.links{
    text-align: center;
    width: 350px;
    margin: auto;
}

ul,ol{
  color: #000000;
  font-weight: bold;
  /*text-indent: -33%;*/
  text-align: center;
  margin: auto;
  width: 200px;
  max-width: 90vw;
}
ul{
  color: #000000;
  font-weight: bold;
  /*text-indent: -33%;*/
  text-align: center;
  margin: auto;
  width: 100px;
  max-width: 90vw;
}



a.button1{
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background-image: url("images/sun.jpg");
    background-position-x: 78%;
    background-position-y: 80%;
  }

  a.button1:hover{
    background-image: url("images/blue.jpg");
    color: #000000;
    background-position-x: 90%;
    background-position-y: 80%;
  }

  a.button2{
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-image: url("images/sun.jpg");
    background-position-x: 12%;
    background-position-y: 10%;
  }

  a.button2:hover{
    background-image: url("images/amogus.png");
    color: #ff00bb;
    background-position-x: 12%;
    background-position-y: 20%;
  }

 

 